[user]
	name = Jamie Chung
	email = jac@dropbox.com
[push]
	default = simple
[merge]
	conflictstyle = diff3
[color]
	ui = true
[core]
	precomposeunicode = true
[alias]
	view = log --graph --oneline --decorate --boundary --all HEAD
	createbranch = checkout -b $1 origin/master
	wip = !git add -A && git commit -m '[WIP] Saving in progress.'
	undo = reset HEAD~1 --mixed
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
